{# Form for a joke sending. #}

{% extends 'base.html.twig' %}

{% block title %}
    Send a joke
{% endblock %}

{% block body %}
    <p>Jokes service unavailable.</p>

    <p>Please, try later.</p>

    {% if app.debug %}

    {% endif %}
{% endblock %}
